GOOGLE_CLOUD_CLIENT_ID=<your-client-id-here>
GOOGLE_CLOUD_CLIENT_SECRET=<your-secret-here>
GOOGLE_CLOUD_PROJECT_ID=<your-project-id-here>
GMAIL_USER=<your-gmail-here>
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gpt-oss:20b